/*=======================================================================================
    # Base Design (width:1280px)#
    ------------------
    Table of content :
    1. base html tag
    2. nav
    3. main
    4. footer

*=======================================================================================*/
/*-------------------------*
    1. base html tag
*--------------------------*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #2d2d2d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
}

/*=======================================================================================*/
/*-------------------------*
    2. nav
*--------------------------*/
.nav {
     width: 100%;
     padding: 0;
     overflow: hidden;
     position: fixed;
     z-index: 1;
     background-color: #000000;
 }

.nav a {
    display: block;
    float: left;
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    color: #ffffff;
    width: 20%;
}

.nav a:hover {
    background-color: #3498DB;
    transition: 1s;
}

.nav .icon {
    display: none;
}

/*=======================================================================================*/
/*-------------------------*
    3. main
*--------------------------*/
.dark-background {
    background: #2d2d2d;
}

.white-background {
    background: #ffffff;
    color: #000000;
}

.section {
    width: 80%;
    margin: auto;
    padding: 150px 0;
    display: flex;
    justify-content: center; /*horizontally centering item*/
    align-items: center; /* vertically centering item*/
}

.section.reverse{
    flex-direction: row-reverse; /* reverse row direction photo and article */
}

.container {
    display: flex;
    justify-content: center; /*horizontally centering item*/
    align-items: center; /* vertically centering item*/
    text-align: center;
    flex: 1; /*Let all the flexible items be the same length*/
}

.container img {
    width: 400px;
}

.article h1{
    font-size: 100px;
    margin: 30px 0;
    color: #3498DB;
}

.article p {
    margin: 10px 0;
}

.article .container {
    flex-wrap: wrap;
}

.container a {
    text-align: center;
    padding: 12px 0;
    text-decoration: none;
    border: 2px solid #737373;
    color:  #737373;
    border-radius: 25px;
    width: 250px;
    margin:15px;

}

a.white-tab{
    color:   #cccccc;
    border: 2px solid #cccccc;
}

.container a:hover{
    border: 2px solid #3498DB;
    color: #3498DB;
    transition: 1s;
    transform: scale(1.1); /* 110% zoom */
}



/*=======================================================================================*/
/*-------------------------*
    4. footer
*--------------------------*/
.footer {
    display: block;
    background: #000000;
}

.footer .container {
    padding: 50px 0;
}

.footer .hr {
    width: 80%;
}

.footer .hr.extend {
    animation-name: hr-extend;
    animation-duration: 4s;
}

@keyframes hr-extend {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}


.contact-icon{
    padding: 30px;
    font-size: 50px;
}

.contact-icon:hover{
    color: #3498DB;
    transform: scale(1.5); /* 150% zoom */
}


/*=======================================================================================
    # RWD Design #
    --------------------------------------
    Table of content :
    1. For PC         >> max-width 1280px
    2. For tablet pro >> max-width 1024px
    3. For tablet     >> max-width 768px
    4. For phone      >> max-width 480px

*=======================================================================================*/
/*-----------------------------------------*
    1. For PC >> max-width 1280px
*------------------------------------------*/
@media only screen and (max-width: 1280px) {
    .section {
        width: 100%;
        margin: 0;
        padding: 100px 20px;
    }
}

/*-----------------------------------------*
    2. For tablet pro >> max-width 1024px
*------------------------------------------*/
@media only screen and (max-width: 1024px) {
    .section {
        display: block;
        width: 70%;
        margin: auto;
    }
}

/*-----------------------------------------*
    3. For tablet >> max-width 768px
*------------------------------------------*/
@media only screen and (max-width: 768px) {
    /*nav of responsive design */
    /*before click list icon*/
    .nav a:not(:first-child) {
        display: none;
    }

    .nav a.icon{
        width: 46px;
        height: 46px;
        float: right;
        display: block;
    }

    /*home a tag*/
    #home {
        width: 20%;
        left: 40%;
        position: absolute;
        display: block;
    }

    #home:hover{
        background: black;
        color: #3498DB;
    }

    /*after click list icon*/
    .nav.responsive .icon {
        float: right;
        transform: rotate(90deg);
        width:46px;
        height:46px;
    }

    .nav.responsive a {
        clear: both;
        display: block;
        width: 100%
    }

    .section {
        width: 100%;
        margin: 0;
        padding: 100px 25px;
    }

    .article h1{
        font-size: 80px;
    }

}

/*-----------------------------------------*
    4. For phone >> max-width 480px
*------------------------------------------*/
@media only screen and (max-width: 480px) {
    .section {
        padding: 100px 20px;
    }

    .container img {
        max-width: 300px;
        width: 100%;
    }

    .article h1{
        font-size: 55px;
    }

    .article p {
        font-size: 18px;
    }

    .container a {
        width: 200px;
    }

    .contact-icon {
        padding: 20px;
    }

    .contact-icon:hover{
        transform: none;
    }

}